.home-page--hero-wrapper {
  overflow: hidden;
  max-width: 1440px;
  position: relative;
  margin: auto;
  canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    @media (max-width: 1150px) {
      filter: blur(3px);
    }
  }
}

.home-page--hero-content-wrapper {
  padding: 25px 40px;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
  h1 {
    font-size: 58px;
    font-weight: 800;
    width: 70%;
    min-width: 660px;
  }
  p {
    width: 50%;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    min-width: 660px;
  }
}

.home-page--hero-numbers-wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 80px 0;
  position: relative;
  min-width: 660px;
}

.home-page--hero-numbers__item {
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.04);
  padding: 20px;
  backdrop-filter: blur(10px) hue-rotate(45deg);
  span {
    font-size: 20px;
  }
  span:first-of-type {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  span:nth-of-type(2) {
    font-size: 22px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 5px;
  }
}

.home-page--hero-numbers__last-update {
  position: absolute;
  left: 5px;
  bottom: -25px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

@media (max-width: 740px) {
  .home-page--hero-content-wrapper {
    h1,
    p {
      min-width: unset;
      width: 100%;
    }
  }
  .home-page--hero-numbers-wrapper {
    min-width: unset;
    flex-wrap: wrap;
    width: 100%;
  }
  .home-page--hero-numbers__item {
    margin: 5px;
    flex: 1;
  }
}

@media (max-width: 640px) {
  .home-page--hero-content-wrapper {
    padding: 20px;
    h1 {
      font-size: 48px;
      margin: 0 0 32px;
    }
  }
}
